<th:block>
<header class="mt-3">
  <h1 class="text-center" style="color: #840F0F">Balloon Order page - Delivery information </h1>
</header>
<section class="container mt-3">
  <div class="row">
    <div class="col-2"></div>
    <div class="col">
      <form th:method="POST" th:action="@{/BalloonOrder.do}">
        <label for="clientName">Client Name:</label><br/>
        <input type="text" id="clientName" name="clientName"/><br/>
        <label for="clientAddress">Delivery Address:</label><br/>
        <textarea cols="40" rows="3" id="clientAddress" name="clientAddress"></textarea><br/>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="col">
      <table class="mt-3">
        <tr>
          <th colspan="2">
            Your Order Status
          </th>
        </tr>

        <tr>
          <td><b>Balloon Color </b></td>
          <td><th:block th:text="${session.color}"></th:block></td>
        </tr>
        <tr>
          <td><b>Balloon Size </b></td>
          <td><th:block th:text="${session.size}"></th:block></td>
        </tr>
      </table>
    </div>
  </div>

</section>
</th:block>