<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            margin: auto;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/balloons">Balloon Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/balloons">Home</a>
                </li>
            </ul>
            <form class="d-flex" th:method="GET" th:action="@{/searchBalloons}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchBox">
                <input class="btn btn-outline-danger" value="Search" type="submit">
            </form>
        </div>
    </div>
</nav>

<main class="container">
    <h2 class="mt-3 text-center" style="color: #840F0F">Welcome to our Balloon Shop App</h2>

    <h3 class="mt-4 text-center mb-4">Choose balloon color:</h3>
    <div class="container w-75">

        <div th:if="${hasError}">
            <h5 class="text-center text-danger" th:text="${error}"></h5>
        </div>

<!--        <form th:method="POST" th:action="@{/}">-->
            <div class="row">
                <div class="col">
                    <table class="table table-striped text-center">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Manufacturer</th>
                            <th></th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="balloon: ${balloons}">
                            <td>
                                <input type="radio" name="color" th:value="${balloon.getName()}">
                            </td>
                            <td th:text="${balloon.getName()}"></td>
                            <td th:text="${balloon.getDescription()}"></td>
                            <td th:text="${balloon.getM().getName()}"></td>
                            <td></td>
                            <td>
                                <form th:method="GET" th:action="@{'/balloons/edit-form/{id}' (id=${balloon.getId()})}">
                                    <button style="float:left" value="Edit Balloon" class="btn btn-sm btn-success">Edit</button>
                                </form>
                                <form th:method="DELETE" th:action="@{'/balloons/delete/{id}' (id=${balloon.getId()})}">
                                    <button style="float:right" value="Delete Balloon" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>

            <div class="row mt-3 mb-5">
                <div class="col-10">
                    <form th:method="POST" th:action="@{/}">
                        <input type="submit" class="btn btn-primary">
                    </form>
                </div>

                <div class="col">
                    <form th:method="GET" th:action="@{/balloons/add-form}" class="text-center">
                        <input type="submit" value="Add balloon" class="btn btn-info text-white">
                    </form>
                </div>
            </div>
<!--        </form>-->
    </div>

</main>

</body>
</html>