<th:block xmlns:th="http://www.thymeleaf.org">
    <main class="container">
        <h2 class="mt-3 text-center" style="color: #840F0F">Welcome to our Balloon Shop App</h2>

        <h3 class="mt-4 text-center mb-4">Choose balloon color:</h3>
        <div class="container w-75">

            <div th:if="${hasError}">
                <h5 class="text-center text-danger" th:text="${error}"></h5>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table table-striped text-center">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Manufacturer</th>
                            <th></th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="balloon: ${balloons}">
                            <td>
                                <input type="radio" name="color" th:value="${balloon.getName()}">
                            </td>
                            <td th:text="${balloon.getName()}"></td>
                            <td th:text="${balloon.getDescription()}"></td>
                            <td th:text="${balloon.getM().getName()}"></td>
                            <td></td>
                            <td>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <form th:method="GET"
                                          th:action="@{'/balloons/edit-form/{id}' (id=${balloon.getId()})}"
                                          class="mb-2">
                                        <button value="Edit Balloon" class="btn btn-sm btn-success">Edit</button>
                                    </form>
                                </th:block>

                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <form th:method="DELETE"
                                          th:action="@{'/balloons/delete/{id}' (id=${balloon.getId()})}" class="mb-2">
                                        <button value="Delete Balloon" class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                </th:block>

                                <form th:method="POST" th:action="@{'/balloons/add-balloon/{id}' (id=${balloon.getId()})}" >
                                    <button value="Add to shopping cart" class="btn btn-sm btn-info text-white">Add to cart</button>
                                </form>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>

            <div class="row mt-3 mb-5">
                <div class="col-10">
                    <form th:method="POST" th:action="@{/balloons}">
                        <input type="submit" class="btn btn-primary">
                    </form>
                </div>

                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="col">
                        <form th:method="GET" th:action="@{/balloons/add-form}" class="text-center">
                            <input type="submit" value="Add balloon" class="btn btn-info text-white">
                        </form>
                    </div>
                </th:block>
            </div>
        </div>
    </main>
</th:block>
